body {
  font-family: Garamond;
}

h1 {
  font-family: Garamond;
  font-weight: bold;
  margin: 5px;
  text-align: center;
  color: #172815;

}

h2 {
  margin: 25px 5px;
  text-align: center;
  color: #172815;
}

h5 {
  margin: 3px;
  color: #3E5622;

}

p {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  /* top, right & left, bottom */
  margin: 20px;
}

img {
  max-height: 200px;
  margin: auto;
  display: flex;
}




